<div class="row">
    <div class="small-3 columns">
        <label>{{ "segment.partials.makers" | translate }} <span class="required">*</span></label>
    </div>
    <div class="small-9 columns" form-validation="validate.parts[parentIndex].criteria[segmentIndex].makers.errors">
        <selectize config="makersConfig" options="egMaker" ng-model="$parent.$parent.$parent.$parent.segmentModel.makers"></selectize>
        <span class="prompt">{{ "segment.maker_prompt" | translate }} </span>
    </div>
</div>