<section class="login admin text-center">
    <form novalidate>
        <div class="row">
            <div class="small-12 small-centered columns">
                <div class="logo">
                    <div ng-bind-html="RootCtrl.logo"></div>
                </div>
                <div class="form-box text-left request">
                    <h1 class="text-left">{{"security.reset_heading"|translate}}</h1>
                    <div class="success callout" ng-show="showSuccess">
                        <p>{{ successMsg }}</p>

                    </div>
                    <button ng-show="showSuccess" class="expanded button button-septenary-colorized square login-button" ng-click="SecurityCtrl.backToLogin()">{{ "security.back_to_login"|translate }}</button>
                    <div class="alert callout" ng-show="showError">
                        <p ng-bind-html="errorMsg"></p>
                    </div>
                    <p class="color-gray request-description" ng-show="!showSuccess">
                        {{"security.reset_description"|translate}}
                    </p>
                    <div class="input-group" ng-show="!showSuccess">

                        <span class="input-group-label"><i class="fi flaticon-locked-padlock" aria-hidden="true"></i></span>
                        <input class="input-group-field"
                               type="password"
                               name="password"
                               placeholder="{{ 'security.new_password' | translate }}"
                               ng-model="password"
                               required
                        />
                    </div>
                    <button class="expanded button button-septenary-colorized square login-button" ng-show="!showSuccess"
                            ng-click="SecurityCtrl.resetPassword()">
                        <b>{{ "security.change_password"|translate }}</b>
                    </button>
                </div>
                <p class="text-center">
                    <small class="whisper">{{ "login.copyrights" | translate }}</small>
                </p>
            </div>
        </div>
    </form>
</section>