frontend/node_modules
frontend/dist/*
!frontend/dist/node_modules
.idea
.vagrant
.php_cs.cache
cs_fixer*
/frontend/npm-debug.log

backend/app/cache/
backend/app/log/
backend/var/cache/
hosts
tools/deployment/deploy.retry
/esdata/
/postgres_data/
frontend/yarn-error.log
/backend/app/uploads/
