
<div class="pos-section">
    <div class="row functional-boxes">
        <div class="columns large-4">
            <div class="box" ui-sref="seller.panel.transaction">
                <p class="function-title">{{ "seller.dashboard.match_transaction_and_customer" | translate }}</p>
            </div>
        </div>
        <div class="columns large-4">
            <div class="box" ui-sref="seller.panel.customer-search">
                <p class="function-title">{{ "seller.dashboard.find_customer" | translate }}</p>
            </div>
        </div>
        <div class="columns large-4">
            <div class="box" ui-sref="seller.panel.campaigns">
                <p class="function-title">{{ "seller.dashboard.campaigns" | translate }}</p>
            </div>
        </div>
        <div class="columns large-4">
            <div class="box" ui-sref="seller.panel.customer-registration">
                <p class="function-title">{{ "seller.dashboard.register_customer" | translate }}</p>
            </div>
        </div>
        <div class="columns large-4">
            <div class="box" ui-sref="seller.panel.find-transaction">
                <p class="function-title">{{ "seller.dashboard.find_transaction" | translate }}</p>
            </div>
        </div>
        <div class="columns large-4">
            <div class="box" ui-sref="seller.panel.earning-rules">
                <p class="function-title">{{ "seller.dashboard.earning_points_rules" | translate }}</p>
            </div>
        </div>
    </div>
</div>