<div class="heading">
    <h1>Retention matrix</h1>
</div>

<div class="row">
    <div class="columns small-12 medium-12">
        <div class="box no-margin">
            <div class="box-title">
                <h1>
                    Retention matrix
                </h1>
            </div>
            <div class="box-content">
                <table class="retention-matrix">
                    <tr>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><123></td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12 medium-12">
        <div class="box no-margin">
            <div class="box-title">
                <h1>
                    Retention segments
                </h1>
            </div>
            <div class="box-content">
                <table class="default">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name of segment</th>
                        <th>Customers</th>
                        <th>AOV</th>
                        <th>% of all orders</th>
                        <th>% of customers</th>
                        <th>Revenue</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Speepersd</td>
                        <td>43</td>
                        <td>123,45 zł</td>
                        <td>12%</td>
                        <td>30%</td>
                        <td>123,45 zł</td>
                        <td>
                            <button type="button" class="button button-secondary tiny" href="#">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="button button-secondary tiny" href="#">
                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <div>
                        <div class="pagination">
                            <div class="columns medium-3 showing">
                                Showing <b class="ng-binding">1</b> up to <b >10</b> from <b
                                    class="ng-binding">57</b>
                                entries.
                            </div>
                            <div class="columns medium-6">
                                <div ng-include="'ng-table/pager.html'">
                                    <div>
                                        <ul class="pagination">
                                            <li class="disabled"><a href="#">«</a></li>
                                            <li class="active"><a href=""><span>1</span></a></li>
                                            <li class="active"><a href=""><span>2</span></a></li>
                                            <li class="active"><a href=""><span>3</span></a></li>
                                            <li class="active"><a href=""><span>4</span></a></li>
                                            <li class="active"><a href=""><span>5</span></a></li>
                                            <li class="active"><a href=""><span>6</span></a></li>
                                            <li class="disabled"><a href="">…</a></li>
                                            <li><a  href=""><span>22</span></a></li>
                                            <li><a  href="">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="columns medium-3"></div>
                            <div class="columns medium-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>