<header class="ol-main-header">
    <h1>Połącz ze sklepem online</h1>
</header>

<section class="ol-block ol-block--self">
    <p>Lorem ipsum</p>
</section>

<footer class="page-footer">
    <p>Masz pytanie dotyczące Hobby4Men Club? Napisz do nas!</p>
    <p><a href="#">Regulamin Hobby4Men Club</a>
    <p class="smaller-bold">Program lojalnościowy Hobby4Men Club oraz dane<br>
        w nim gromadzone są własnością firma KOLTER</p>
    <p>Firma KOLTER<br>
        42 – 200 Częstochowa<br>
        ul. Kopernika 2<br>
        NIP: 573-024-53-20
    </p>
</footer>