    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:35
    */

    @font-face {
  font-family: "Flaticon2";
  src: url("../fonts/icon_set_2.eot");
  src: url("../fonts/icon_set_2.eot?#iefix") format("embedded-opentype"),
       url("../fonts/icon_set_2.woff") format("woff"),
       url("../fonts/icon_set_2.ttf") format("truetype"),
       url("../fonts/icon_set_2.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("../fonts/icon_set_2.svg#Flaticon") format("svg");
  }
}

    .fi2:before{
        display: inline-block;
  font-family: "Flaticon2";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-agreement:before { content: "\f100"; }
.flaticon-badge:before { content: "\f101"; }
.flaticon-bar-chart:before { content: "\f102"; }
.flaticon-bar-chart-1:before { content: "\f103"; }
.flaticon-businessman:before { content: "\f104"; }
.flaticon-businessman-1:before { content: "\f105"; }
.flaticon-businessman-2:before { content: "\f106"; }
.flaticon-businessman-3:before { content: "\f107"; }
.flaticon-businessman-4:before { content: "\f108"; }
.flaticon-businessman-5:before { content: "\f109"; }
.flaticon-businessman-6:before { content: "\f10a"; }
.flaticon-businessman-7:before { content: "\f10b"; }
.flaticon-businesswoman:before { content: "\f10c"; }
.flaticon-businesswoman-1:before { content: "\f10d"; }
.flaticon-businesswoman-2:before { content: "\f10e"; }
.flaticon-businesswoman-3:before { content: "\f10f"; }
.flaticon-businesswoman-4:before { content: "\f110"; }
.flaticon-chronometer:before { content: "\f111"; }
.flaticon-circular-chart:before { content: "\f112"; }
.flaticon-cogwheel:before { content: "\f113"; }
.flaticon-customer-service:before { content: "\f114"; }
.flaticon-group:before { content: "\f115"; }
.flaticon-group-1:before { content: "\f116"; }
.flaticon-group-2:before { content: "\f117"; }
.flaticon-group-3:before { content: "\f118"; }
.flaticon-group-4:before { content: "\f119"; }
.flaticon-head:before { content: "\f11a"; }
.flaticon-head-1:before { content: "\f11b"; }
.flaticon-head-2:before { content: "\f11c"; }
.flaticon-head-3:before { content: "\f11d"; }
.flaticon-hierarchical-structure:before { content: "\f11e"; }
.flaticon-hierarchical-structure-1:before { content: "\f11f"; }
.flaticon-hierarchical-structure-2:before { content: "\f120"; }
.flaticon-hierarchical-structure-3:before { content: "\f121"; }
.flaticon-hierarchical-structure-4:before { content: "\f122"; }
.flaticon-hierarchical-structure-5:before { content: "\f123"; }
.flaticon-hierarchical-structure-6:before { content: "\f124"; }
.flaticon-hierarchical-structure-7:before { content: "\f125"; }
.flaticon-hierarchical-structure-8:before { content: "\f126"; }
.flaticon-hierarchical-structure-9:before { content: "\f127"; }
.flaticon-id-card:before { content: "\f128"; }
.flaticon-line-chart:before { content: "\f129"; }
.flaticon-loss:before { content: "\f12a"; }
.flaticon-magnifying-glass:before { content: "\f12b"; }
.flaticon-magnifying-glass-1:before { content: "\f12c"; }
.flaticon-medal:before { content: "\f12d"; }
.flaticon-medal-1:before { content: "\f12e"; }
.flaticon-medal-2:before { content: "\f12f"; }
.flaticon-networking:before { content: "\f130"; }
.flaticon-networking-1:before { content: "\f131"; }
.flaticon-panel:before { content: "\f132"; }
.flaticon-paper-plane:before { content: "\f133"; }
.flaticon-percentage:before { content: "\f134"; }
.flaticon-phone-call:before { content: "\f135"; }
.flaticon-phonebook:before { content: "\f136"; }
.flaticon-pie-chart:before { content: "\f137"; }
.flaticon-pie-chart-1:before { content: "\f138"; }
.flaticon-placeholder:before { content: "\f139"; }
.flaticon-scheme:before { content: "\f13a"; }
.flaticon-scheme-1:before { content: "\f13b"; }
.flaticon-scheme-2:before { content: "\f13c"; }
.flaticon-settings:before { content: "\f13d"; }
.flaticon-settings-1:before { content: "\f13e"; }
.flaticon-settings-2:before { content: "\f13f"; }
.flaticon-settings-3:before { content: "\f140"; }
.flaticon-settings-4:before { content: "\f141"; }
.flaticon-shopping-cart:before { content: "\f142"; }
.flaticon-speech-bubble:before { content: "\f143"; }
.flaticon-speech-bubble-1:before { content: "\f144"; }
.flaticon-tag:before { content: "\f145"; }
.flaticon-tag-1:before { content: "\f146"; }
.flaticon-target:before { content: "\f147"; }
.flaticon-target-1:before { content: "\f148"; }
.flaticon-worldwide:before { content: "\f149"; }
.flaticon-wrench:before { content: "\f14a"; }
    
    $font-Flaticon-agreement: "\f100";
    $font-Flaticon-badge: "\f101";
    $font-Flaticon-bar-chart: "\f102";
    $font-Flaticon-bar-chart-1: "\f103";
    $font-Flaticon-businessman: "\f104";
    $font-Flaticon-businessman-1: "\f105";
    $font-Flaticon-businessman-2: "\f106";
    $font-Flaticon-businessman-3: "\f107";
    $font-Flaticon-businessman-4: "\f108";
    $font-Flaticon-businessman-5: "\f109";
    $font-Flaticon-businessman-6: "\f10a";
    $font-Flaticon-businessman-7: "\f10b";
    $font-Flaticon-businesswoman: "\f10c";
    $font-Flaticon-businesswoman-1: "\f10d";
    $font-Flaticon-businesswoman-2: "\f10e";
    $font-Flaticon-businesswoman-3: "\f10f";
    $font-Flaticon-businesswoman-4: "\f110";
    $font-Flaticon-chronometer: "\f111";
    $font-Flaticon-circular-chart: "\f112";
    $font-Flaticon-cogwheel: "\f113";
    $font-Flaticon-customer-service: "\f114";
    $font-Flaticon-group: "\f115";
    $font-Flaticon-group-1: "\f116";
    $font-Flaticon-group-2: "\f117";
    $font-Flaticon-group-3: "\f118";
    $font-Flaticon-group-4: "\f119";
    $font-Flaticon-head: "\f11a";
    $font-Flaticon-head-1: "\f11b";
    $font-Flaticon-head-2: "\f11c";
    $font-Flaticon-head-3: "\f11d";
    $font-Flaticon-hierarchical-structure: "\f11e";
    $font-Flaticon-hierarchical-structure-1: "\f11f";
    $font-Flaticon-hierarchical-structure-2: "\f120";
    $font-Flaticon-hierarchical-structure-3: "\f121";
    $font-Flaticon-hierarchical-structure-4: "\f122";
    $font-Flaticon-hierarchical-structure-5: "\f123";
    $font-Flaticon-hierarchical-structure-6: "\f124";
    $font-Flaticon-hierarchical-structure-7: "\f125";
    $font-Flaticon-hierarchical-structure-8: "\f126";
    $font-Flaticon-hierarchical-structure-9: "\f127";
    $font-Flaticon-id-card: "\f128";
    $font-Flaticon-line-chart: "\f129";
    $font-Flaticon-loss: "\f12a";
    $font-Flaticon-magnifying-glass: "\f12b";
    $font-Flaticon-magnifying-glass-1: "\f12c";
    $font-Flaticon-medal: "\f12d";
    $font-Flaticon-medal-1: "\f12e";
    $font-Flaticon-medal-2: "\f12f";
    $font-Flaticon-networking: "\f130";
    $font-Flaticon-networking-1: "\f131";
    $font-Flaticon-panel: "\f132";
    $font-Flaticon-paper-plane: "\f133";
    $font-Flaticon-percentage: "\f134";
    $font-Flaticon-phone-call: "\f135";
    $font-Flaticon-phonebook: "\f136";
    $font-Flaticon-pie-chart: "\f137";
    $font-Flaticon-pie-chart-1: "\f138";
    $font-Flaticon-placeholder: "\f139";
    $font-Flaticon-scheme: "\f13a";
    $font-Flaticon-scheme-1: "\f13b";
    $font-Flaticon-scheme-2: "\f13c";
    $font-Flaticon-settings: "\f13d";
    $font-Flaticon-settings-1: "\f13e";
    $font-Flaticon-settings-2: "\f13f";
    $font-Flaticon-settings-3: "\f140";
    $font-Flaticon-settings-4: "\f141";
    $font-Flaticon-shopping-cart: "\f142";
    $font-Flaticon-speech-bubble: "\f143";
    $font-Flaticon-speech-bubble-1: "\f144";
    $font-Flaticon-tag: "\f145";
    $font-Flaticon-tag-1: "\f146";
    $font-Flaticon-target: "\f147";
    $font-Flaticon-target-1: "\f148";
    $font-Flaticon-worldwide: "\f149";
    $font-Flaticon-wrench: "\f14a";
