label {
  color: $gray;
  input {
    font-weight: normal;
  }
}

.label {
  border-radius: 3px;
  margin-right: 4px;
  padding: 10px 16px;
  margin-bottom:2px;
  margin-top:2px;
  &.primary {
    background-color: $primary;
  }
  &.secondary {
    background-color: $secondary;
  }
  &.tertiary {
    background-color: $tertiary;
  }
  &.quaternary {
    background-color: $quaternary;
    color: $gray;
  }
  &.label-default {
    color: $dark;
    border: 1px solid darken($gray, 5%);
    background-color: lighten($gray, 5%);
  }
  &.label-wrap {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    max-width: 300px;
  }
}
