.loader-icon {
  margin: -25px auto 0;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid $loader-second-color;
  border-right: 5px solid $loader-second-color;
  border-bottom: 5px solid $loader-first-color;
  border-left: 5px solid $loader-first-color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 .5s infinite linear;
  animation: load8 .5s infinite linear;
}

.spinner-loader-wrapper {
  width: 20px;
  height: 20px;
  display: inline-block;

}

.loader-relative {
  button {
    margin-top: 0 !important;
    display: inline-block;
  }
  .inline {
    display: inline-block;
    vertical-align: middle;
    .spinner-loader .loader-icon {
      left: 8px;
      right: auto;
      top: 0;
      position: relative;
    }
  }
}

.spinner-loader {
  .loader-icon,
  .loader-icon:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
  }
  .loader-icon {
    margin: 0;
    top: 8px;
    right: 0;
    position: absolute;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-left: 3px solid transparent;
  }
}

.loader-icon,
.loader-icon:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.loader-wrapper {
  #openLoyaltyLogo {
    max-width: 313px;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  top: 0;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.1s;
  background-color: $loader-bg;
  z-index: -1000;
  &.show {
    opacity: 1;
    transition: opacity 0.1s;
    z-index: 6000;
  }
  .loader-wrapper {
    display: block;
    font-size: 50px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50vh - 102.5px);
    .logo-part {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
    }
    .logo-part-1 {
      @extend .logo-part;
      font-weight: bold;
    }
    .logo-part-2 {
      @extend .logo-part;
    }
  }
  #fountainG {
    position: relative;
    width: 234px;
    height: 28px;
    margin: auto;
  }
  .fountainG {
    position: absolute;
    top: 0;
    background-color: $dark;
    width: 28px;
    height: 28px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: .5s;
    -o-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 19px;
    -o-border-radius: 19px;
    -ms-border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
  }
  #fountainG_1 {
    left: 0;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
  }
  #fountainG_2 {
    left: 29px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
  }
  #fountainG_3 {
    left: 58px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
  }
  #fountainG_4 {
    left: 88px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
  }
  #fountainG_5 {
    left: 117px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
  }
  #fountainG_6 {
    left: 146px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
  }
  #fountainG_7 {
    left: 175px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
  }
  #fountainG_8 {
    left: 205px;
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
  }
  @keyframes bounce_fountainG {
    0% {
      transform: scale(1);
      background-color: $dark;
    }
    100% {
      transform: scale(.3);
      background-color: $senary;
    }
  }
  @-o-keyframes bounce_fountainG {
    0% {
      -o-transform: scale(1);
      background-color: $dark;
    }
    100% {
      -o-transform: scale(.3);
      background-color: $senary;
    }
  }
  @-ms-keyframes bounce_fountainG {
    0% {
      -ms-transform: scale(1);
      background-color: $dark;
    }
    100% {
      -ms-transform: scale(.3);
      background-color: $senary;
    }
  }
  @-webkit-keyframes bounce_fountainG {
    0% {
      -webkit-transform: scale(1);
      background-color: $dark;
    }
    100% {
      -webkit-transform: scale(.3);
      background-color: $senary;
    }
  }
  @-moz-keyframes bounce_fountainG {
    0% {
      -moz-transform: scale(1);
      background-color: $dark;
    }
    100% {
      -moz-transform: scale(.3);
      background-color: $senary;
    }
  }
}

.loader-relative {
  position: relative !important;
  &.in {
  }
  &.out {
  }
  legend {
  }
}

box-loader {
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  &.cover {
    top: auto;
    bottom: 0;
    right: 0;
    z-index: 5005;
    &.full {
      top:0;
      min-height:calc(100vh - 65px);
    }
  }
}
.full {
  .box-loader {
    &.cover{
      top:0;

    }
  }
}
.box-loader {
  transition: opacity 0.5s;
  //opacity: 0;
  //&.show {
  //  opacity: 1;
  //  z-index: 5000;
  //  transition: opacity 0.5s
  //}
  z-index: 5000 !important;
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  &.cover {
    top: 65px;
    min-height: calc(100vh - 138px);
    .loader-icon {
      border-top: 5px solid #ccc;
      border-right: 5px solid #ccc;
      border-bottom: 5px solid #ccc;
      border-left: 5px solid transparent;
    }
    .box-loader-wrapper {
      background-color: #f2f2f2;
      .box-loader-parts {
        top: auto;
        margin-top: 10vh;
      }
    }
  }
  .box-loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    .box-loader-parts {
      position: relative;
      top: calc(50% - 100px);
    }
    .loader-icon:not(.show) {
      display: none;
    }
    .logo {
      width: 310px;
      margin: 0 auto;
    }
  }
}

#loading-bar .bar {
  background: #bb343b !important;
  height: 5px !important;
}