<div class="client-section">
    <div class="row">
        <div class="columns column-12">
            <footer class="page-footer">
                <p>Do you have question? <a href="#" ui-sref="customer.static({pageName: 'contact'})">Contact us!</a>
                </p>
                <p><a href="#" ui-sref="customer.static({pageName: 'rules'})">Terms & conditions</a></p>

                <p>Owner data<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                    Aenean vitae imperdiet augue.</p>
            </footer>
        </div>
    </div>
</div>