<section class="pos-section" ng-init="SellerCustomerCtrl.getTransactionsData()">

    <h1>{{ "seller.dashboard.title.customer_transactions" | translate }}</h1>

    <div class="row">
        <div class="client-list box">
            <div class="box-title">
                <h1 class="text-left">{{ "customer.transactions_list" | translate }}</h1>
            </div>
            <div class="box-content">
                <table ng-table="SellerCustomerCtrl.transactionsTableParams" class="default"
                       template-pagination="templatePagination.html">
                    <tr ng-repeat="row in $data">
                        <td data-title="'transaction.id'|translate" filter="{transactionId: 'text'}">
                            <span ng-bind="row.transactionId"></span>
                        </td>
                        <td data-title="'transaction.document_number'|translate" sortable="'documentNumber'">
                            <span ng-bind="row.documentNumber"></span>
                        </td>
                        <td data-title="'transaction.document_type'|translate" sortable="'documentType'">
                            <span>{{'transaction.document_types.'+row.documentType|translate}}</span>
                        </td>
                        <td data-title="'transaction.purchase_date'|translate" sortable="'purchaseDate'">
                            <span ng-bind="row.purchaseDate|date: 'yyyy-MM-dd'"></span>
                        </td>
                        <td data-title="'transaction.purchase_place'|translate" sortable="'purchasePlace'">
                            <span ng-bind="row.posName"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>