<section class="login admin text-center">
    <form novalidate>
        <div class="row">
            <div class="small-12 small-centered columns">
                <div class="logo">
                    <div ng-bind-html="RootCtrl.logo"></div>
                </div>
                <div class="form-box text-left request">
                    <h1 class="text-left">{{"security.request_heading"|translate}}</h1>
                    <div class="success callout" ng-show="showSuccess">
                        <p>{{ successMsg }}</p>
                    </div>
                    <div class="alert callout" ng-show="showError">
                        <p>{{ errorMsg }}</p>
                    </div>
                    <p class="color-gray request-description" ng-hide="showSuccess">
                        {{"security.request_description"|translate}}
                    </p>
                    <div class="input-group" ng-hide="showSuccess">
                        <span class="input-group-label"><i class="fi flaticon-user-shape" aria-hidden="true"></i></span>
                        <input class="input-group-field"
                               type="text"
                               name="username"
                               placeholder="{{ 'security.username' | translate }}"
                               ng-model="username"
                               required
                        />
                    </div>
                    <button class="expanded button button-septenary-colorized square login-button" ng-hide="showSuccess"
                            ng-click="SecurityCtrl.requestPassword()">
                        <b>{{ "security.send_request"|translate }}</b>
                    </button>
                    <div class="forgot text-center">
                        <a href="" ng-click="SecurityCtrl.backToLogin()">{{ "security.back_to_login"|translate }}</a>
                    </div>
                </div>
                <p class="text-center">
                    <small class="whisper">{{ "login.copyrights" | translate }}</small>
                </p>
            </div>
        </div>
    </form>
</section>