<box-loader loading="CustomerCtrl.loaderStates.coverLoader" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading" ng-init="CustomerCtrl.getData()">
    <h1>{{ "customer.heading" | translate }}</h1>
    <div class="action-buttons">
        <button class="medium button button-septenary-colorized" ui-sref="admin.add-customer">
            {{ "customer.add" | translate }}
        </button>
    </div>
</div>
<div style="clear:both;"></div>

<div class="client-list box">
    <div class="box-title">
        <h1 class="text-left">{{ "customer.list" | translate }}</h1>
    </div>
    <div class="box-content">
        <box-loader loading="CustomerCtrl.loaderStates.customerList"></box-loader>
        <table ng-table="CustomerCtrl.tableParams" class="default clients-list"
               template-pagination="templatePagination.html">
            <tr ng-repeat="row in $data" ng-class="!row.active ? 'strikeout': ''">
                <td data-title="'customer.name'|translate" sortable="'firstName'" filter="{firstName: 'text'}">
                    <span ng-bind="row.firstName"></span>
                </td>
                <td data-title="'customer.surname'|translate" sortable="'lastName'" filter="{lastName: 'text'}">
                    <span ng-bind="row.lastName"></span>
                </td>
                <td data-title="'customer.phone'|translate" sortable="'phone'" filter="{phone: 'text'}">
                    <span ng-bind="row.phone || ('global.not_set'|translate)"></span>
                </td>
                <td data-title="'customer.email'|translate" sortable="'email'" filter="{email: 'text'}">
                    <span ng-bind="row.email"></span>
                </td>
                <td data-title="'customer.gender'|translate" sortable="'gender'">
                    <span ng-bind="row.gender || ('global.not_set'|translate)"></span>
                </td>
                <td data-title="'customer.birth_date'|translate">
                    <span ng-bind="row.birthDate ? (row.birthDate|date : 'yyyy-MM-dd') : (global.not_set | translate)"></span>
                </td>
                <td data-title="'customer.created_at'|translate" sortable="'createdAt'">
                    <span ng-bind="row.createdAt|date : 'yyyy-MM-dd HH:mm'"></span>
                </td>
                <td data-title="'customer.transactions_amount'|translate" sortable="'transactionsAmount'"
                    filter="{transactionsAmount: 'number'}">
                    <span style="text-transform:uppercase" ng-bind="row.transactionsAmount|number:2"></span>&nbsp;
                    <span style="text-transform:uppercase" ng-bind="row.currency"></span>
                </td>
                <td data-title="'customer.average_transaction_amount'|translate"
                    sortable="'averageTransactionAmount'" filter="{averageTransactionAmount: 'number'}">
                    <span style="text-transform:uppercase" ng-bind="row.averageTransactionAmount|number:2"></span>&nbsp;
                    <span style="text-transform:uppercase" ng-bind="row.currency"></span>
                </td>
                <td data-title="'customer.transactions_count'|translate" sortable="'transactionsCount'"
                    filter="{transactionsCount: 'number'}">
                    <span ng-bind="row.transactionsCount"></span>
                </td>
                <td data-title="'customer.days_from_last_transaction'|translate" sortable="'lastTransactionDate'"
                    filter="{daysFromLastTransaction: 'number'}">
                    <span ng-bind="row.lastTransactionDate ? (dateNow| amDifference : row.lastTransactionDate : 'days') : ('global.not_set' | translate)"></span>
                </td>
                <td data-title="'customer.actions'|translate">
                    <button type="button" class="button  button-secondary tiny"
                            ui-sref="admin.edit-customer({customerId: row.id})">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="button  button-quinary tiny"
                            ui-sref="admin.single-customer({customerId: row.id})">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <button ng-if="row.active" type="button" class="button button-septenary tiny"
                            ng-click="customers[$index].showRemoveModal=true">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                    <button ng-if="!row.active" type="button" class="button button-septenary tiny"
                            ng-click="customers[$index].showActivateModal=true">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<ng-include src="'./templates/customers-list.modals.html'"></ng-include>
